h1,
h3,
p {
  display: flex;
  justify-content: center;
  font-family: -apple-system, sans-serif;
}

h1 {
  margin-top: 3%;
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-weight: 300;
  font-size: 22px;
}

#info p:first-of-type {
  margin-top: 5%;
  font-weight: 100;
  font-size: 16px;
}

h1::before {
  content: "🍻";
  margin-right: 20px;
}

h1::after {
  content: "🍻";
  margin-left: 20px;
}

#chart {
  margin-top: 25%;
}

#chart p {
  font-size: 70px;
  margin: 0;
}

#chart p::before {
  content: "⏳";
}

svg {
  display: block;
  margin-left: 40%;
}

.path2 {
  stroke-dasharray: 1120;
  animation: draw1 1s linear alternate;
}

@keyframes draw1 {
  from {
    stroke-dashoffset: 1120;
  }
  to {
    stroke-dashoffset: 2240;
  }
}

/* #gauge {
  width: 40%;
  height: auto;
  display: block;
  margin: 5% 30%;
} */
